.App{
    min-height: 100vh;
    /* background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%); */
    background: #172917;
   
}

.search-form{
    min-height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.search-bar{
    width: 25%;
    border: none;
    padding: 6px;
    border-radius: 4px;
}

.search-button{
    background-color: black;
    border: none;
    padding: 8px 16px;
    margin-left: 4px;
    border-radius: 8px;
    color: #97BC62FF;
  
}
.search-button:hover{
    background: #2C5F2D;
    color: white;
}
.recipe{
    display: flex;
    min-width: 500px;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #000000;
}